body{
    font-family: "optima", sans-serif, 'Times New Roman', Times, serif;
    background-color:lavender;
}
h1{ 
    text-align:center;
    color: #7A2048;
    font-size: 50px;
}

h3{
    color:#e64398;
    text-align: center;
}
h4{
    text-align:center;
    color: #7A2048;
    line-height:0%;
    font-size: 20px;
}
p{
    color: #408ec6;
    font-size: 30px;
    text-align:center;
    margin-top: -20px;
    padding-left: 80px;
    padding-right: 80px;
}

ol{
    font-size: 30px;
    color:#e64398;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
img{
    width: 250px;
}

div.container{
    text-align:center;
}

ol.myOL{
    display:contents;
    text-align:center;
}