h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 72px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 45%;
    margin: auto;
    align-content: center;
    font-size: 18px;
}

body{
  background-color: rgb(254, 148, 201);
}


  
  @media screen and (min-width: 1000px) and (max-width:1200px){
    body {
      --c1: red;
      --c2: orange;
      --c3: yellow;
      --c4: green;
      --c5: blue;
      --c6: indigo;
      --c7: violet;
      
      --solid: var(--c1), var(--c2), var(--c3), var(--c4), var(--c5), var(--c6), var(--c7);
      --solid-wrap: var(--solid), var(--c1);
      --trans: 
        var(--c1), transparent,
        var(--c2), transparent,
        var(--c3), transparent,
        var(--c4), transparent,
        var(--c5), transparent,
        var(--c6), transparent,
        var(--c7)
      ;
      --trans-wrap: var(--trans), transparent, var(--c1);
      
      background: 
        radial-gradient(circle, var(--trans)),
        conic-gradient(from 180deg, var(--trans-wrap)),
        radial-gradient(circle, var(--trans)),
        conic-gradient(var(--solid-wrap));
      background-blend-mode: overlay;
    }
  }
  
  @media screen and (max-width: 999px) {
    body {
      background-color: rgb(214, 137, 250);
    }
  }

  @media screen and (min-width: 600px) {
    h1 {
      font-size: 90px;
    }
  }
  
  @media screen and (max-width: 700px) {
  h1 {
      font-size: 40px;
    }
  }