*{
    margin:0;
    padding:0;
    background-color:  rgb(139,61,142);
}

@font-face {
    font-family: Sequoia;
    src: url(fonts/Sequoia.otf) format(opentype); 
    font-weight: bold;
}

@font-face {
    font-family: Charlton;
    src: url(fonts/Charlton-Regular.otf) format(opentype); 
    font-weight: bold;
}

@font-face{
    font-family: Sudestada;
    src: url(fonts/Sudestada-Regular.ttf) format(opentype);
    font-weight:bold;
}

@font-face{
    font-family: Tungsten;
    src:url(fonts/Tungsten-Black.ttf) format(opentype);
    font-weight:bold;
}

.speaknow{
    font-family: Sudestada;
    font-size: 60px;
    text-align: center;
    text-transform: capitalize;
    z-index: 999;
    color:rgb(245,250,245);
    margin-bottom: -20px;
}

.albuminfo-container{
    display: flex;
    align-items: center;
    justify-content:center;
}

#speaknowalbumcover{
    height:450px;
    width: 450px;
    margin: 30px;
}

.speaknowalbumcover-container img{
    margin-left:30px;
}

.speaknowalbumcover-container:hover img{
    content: url(images/speaknowalbumcover2.jpeg);
    height:450px;
    width: 450px;
    margin-left: 30px;
}

.speaknowinfo{
    font-family: Sequoia;
    font-weight: bold;
    padding: 20px 50px;
    color: rgb(245,250,245);
    border-radius: 5px;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 5px;
}

.column{
    display: flex;
    flex-direction:row;
    margin: 30px;
}

#speaknowtaylor1{
    height: 700px;
    margin-top: 100px;
}

p{
    font-family: Sequoia;
    font-weight: bold;
    color: rgb(245,250,245);
    font-size: 40px;
    margin-left:30px;
    margin-right: 20px;
    line-height:1.2;
}

.middle-section{
    font-family: Sequoia;
    font-weight: bold;
    color: rgb(245,250,245);
    font-size: 40px;
    margin-left:30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#speaknowtaylor2{
    height:500px;
    margin-right: 40px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.button1{
    padding: 10px 20px;
    background-color: rgb(210,169,105);
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    box-shadow: 4px 4px rgb(176,136,65);
    position: relative;
    left:8px;
    bottom:25px;
    font-family: Charlton;
    text-align:center;
}

.button1:hover{
    color: black;
    transform: translate(2px, 2px);
    box-shadow: 2px 2px rgb(176,136,65);
}

.button2{
    padding: 5px 40px;
    background-color: rgb(175,30,71);
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 60px;
    box-shadow: 4px 4px rgb(115,46,71);
    position: relative;
    right:10px;
    bottom:25px;
    font-family: Tungsten;
    text-align:center;
}

.button2:hover{
    color: black;
    transform: translate(2px, 2px);
    box-shadow: 2px 2px rgb(115,46,71);
}